@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body {
font-family: 'poppins',sans-serif ;
}
.img{
background-image: url('./assests/HERO.png');
}
.con{
  background-image: url('./assests/Rectangle .png');
  }

.digis{
  width: 70px;
height: 22px;

font-family: 'Dancing Script';
font-style: normal;
font-weight: 700;
line-height: 22px;
color: #01AA63;
}
.digi{
  width: 70px;
height: 22px;

font-family: 'Dancing Script';
font-style: normal;
font-weight: 700;
font-size: 24.2339px;
line-height: 22px;
color: white;
}